# Created by .ignore support plugin (hsz.mobi)
.idea/dictionaries/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/vcs.xml
.idea/artifacts/
.idea/inspectionProfiles/
.idea/libraries/
